$color__background-body: linear-gradient(180deg, #4BB7CF 0%, #C2ACFF 100%);
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #444444;
$color__text-input-focus: #111;
$color__link: #2c2c2c; //royalblue
$color__link-visited: #5f5f5f;
$color__link-hover: #3d1970; //midnightblue
$color__text-main: #2c2c2c;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__blanco: #fff;
$color__gris: #f9f9f9;
$color__texto: #2c2c2c;
$color__corporativo-1: #412652;
$color__corporativo-2: #E97F25;
$color__line: #00000011;
